<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Car Analysis</title>
  <!-- <link href="{{url_for('static',filename='img/favicon.ico')}}" rel="icon"> -->

  <link href="https://s.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="static\lib\flaticon\font\flaticon.css" rel="stylesheet">
  <link href="static\lib\animate\animate.min.css" rel="stylesheet">
  <link href="static\lib\owlcarousel\assets\owl.carousel.min.css" rel="stylesheet">

  <link href="static\css\style.css" rel="stylesheet">

</head>

<body>
  <!-- Top Bar Start -->
  <div class="top-bar">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-12">
          <div class="logo">
            <a href="index.html">
              <h1>Car<span>Price</span></h1>
              <!-- <img src="img/logo.jpg" alt="Logo"> -->
            </a>
          </div>
        </div>
        <div class="col-lg-8 col-md-7 d-none d-lg-block">
          <div class="row">
            <div class="col-4">
              <div class="top-bar-item">
                <div class="top-bar-icon">
                  <i class="fa fa-phone-alt"></i>
                </div>
                <div class="top-bar-text">
                  <h3>Call Us</h3>
                  <p>+919984096257</p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="top-bar-item">
                <div class="top-bar-icon">
                  <i class="far fa-envelope"></i>
                </div>
                <div class="top-bar-text">
                  <h3>Email Us</h3>
                  <p>abc@example.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Top Bar End -->

  <!-- Nav Bar Start -->
  <div class="nav-bar">
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav mr-auto">
            <a href="index.html" class="nav-item nav-link active">Home</a>
            <form action="{{ url_for('about')}}" method="get">
              <button href="/" class="nav-item nav-link active">About</button>
            </form>
            <form action="{{ url_for('contact')}}" method="get">
              <button href="/" class="nav-item nav-link active">Contact</button>
            </form>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <!-- Nav Bar End -->


  <!-- Carousel Start -->
  <div class="carousel">
    <div class="container-fluid">
      <div class="owl-carousel">
        <div class="carousel-item">
          <div class="carousel-img">
            <img src="static\img\carousel-1.jpg" alt="Image">
          </div>
          <div class="carousel-text">
            <h3>Predict Price</h3>
            <h1>For Customers</h1>
            <p>
              <br><br>
            </p>
            <form action="{{ url_for('form')}}" method="get">
              <button type="submit" href="/" class="btn btn-custom">Start</button>

            </form>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-img">
            <img src="static\img\carousel-2.jpg" alt="Image">
          </div>
          <div class="carousel-text">
            <h3>Predict Price</h3>
            <h1>For Manufacturer</h1>
            <p>
              <br><br>
            </p>
            <form action="{{ url_for('form2')}}" method="get">
              <button type="submit" href="/" class="btn btn-custom">Start</button>

            </form>

          </div>
        </div>
        <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="static\img\carousel-3.jpg" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h3>Analysis</h3>
                            <h1>Customer segmentation graph</h1>
                            <p>
                              <br><br>
                            </p>
                            <a class="btn btn-custom" href="#analysis">Explore</a>
                        </div>
                    </div>
      </div>
    </div>
  </div>
  <!-- Carousel End -->


  <!-- Service Start -->
  <div class="service" id="analysis">
      <div class="container">
          <div class="section-header text-center">
              <p>ANALYSIS</p>
              <h2>Automobile Customer Segmentation Classification</h2>
          </div>
          <div class="row">
              <div class="col-lg-3 col-md-6">
                  <div class="service-item">
                      <h3>Segmentation Frequency</h3>
                      <p>-->Inference: Segment D has highest frequency while Segment B has lowest.</p>
                      <p>There is a minute difference between the four segments' frequency</p>
                      <img id="graph1" src="" /><br>
                      <a class="btn btn-custom" href="static\img\graph1.jpg" target="imgbox">SEGMENTATION FREQUENCY</a><br/>

                  </div>

              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="service-item">
                      <h3>Gender Frequency</h3><br>
                      <p>Inference: Male audience have higher usage frequency than that of female in terms of automobiles.</p>
                      <p>Male audience= 54.9% while Female audience= 45.1%</p>
                      <img id="graph2" src="" /><br>
                      <a class="btn btn-custom" href="static\img\graph2.jpg" target="imgbox">GENDER FREQUENCY</a><br/>
                  </div>

              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="service-item">
                      <h3>Marriage Frequency</h3><br>
                      <p>Inference: Married couples prefer automobiles more than unmarried</p>
                      <p>Marriage perentage is 57.6% while unmarried audience occupies the other 42.4% </p>
                      <img id="graph3" src="" /><br>
                      <a class="btn btn-custom" href="static\img\graph3.jpg" target="imgbox">MARRIAGE FREQUENCY</a><br/>
                  </div>

              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="service-item">
                      <h3>Profession Frequency</h3><br>
                      <p>Inference: The profession Artist has highest frequency of using Automobiles with 31.6% occupancy </p>
                      <p>Homemakers have least involvement of only 3.1%</p>
                      <img id="graph4" src="" /><br>
                      <a class="btn btn-custom" href="static\img\graph4.jpg" target="imgbox">PROFESSION FREQUENCY</a><br/>
                  </div>

              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="service-item">
                      <h3>Spending Score Frequency</h3>
                      <p>It is the score(out of 100) given to a customer by the mall authorities, based on the money spent and the behavior of the customer.</p>
                      <p>Inference: Most of the customer segments have low spending score.</p>
                      <img id="graph5" src="" /><br>
                      <a class="btn btn-custom" href="static\img\graph5.jpg" target="imgbox">SPENDING SCORE FREQUENCY</a><br/>
                  </div>

              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="service-item">
                      <h3>Age Distribution</h3><br>
                      <p>Inference: According to our analysis, buyers that are ages 25 to 45 purchase most new vehicles.</p>
                      <p>Graph plotted is bell shaped with its peak at the age around 40.</p>
                      <img id="graph6" src="" /><br>
                      <a class="btn btn-custom" href="static\img\graph6.jpg" target="imgbox">AGE DISTRIBUTION</a><br/>
                  </div>

              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="service-item">
                      <h3>Graduation Frequency</h3>
                      <p>Most of the Audience buying vehicles are graduated</p>
                      <p>Inference: 61.8% of total population of buyers are graduated.</p>
                      <img id="graph7" src="" /><br>
                      <a class="btn btn-custom" href="static\img\graph7.jpg" target="imgbox">GRADUATION FREQUENCY</a><br/>

                  </div>

              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="service-item">
                      <h3>Family Size Distribution</h3>
                      <p>According to our analysis, smaller families of 1 to 2 members buy vehcles more preferably</p>
                      <p>Graph plotted on the basis of analysis is a skewed right histogram.</p>
                      <img id="graph8" src="" /><br>
                      <a class="btn btn-custom" href="static\img\graph8.jpg" target="imgbox">FAMILY SIZE DISTRIBUTION</a><br/>
                  </div>

              </div>

          </div>
          <script src="js/main2.js"></script>
      </div>
        <!-- Service End -->




  <!-- Blog Start -->
  <div class="blog">
    <div class="container">
      <div class="section-header text-center">
        <p>Our Blog</p>
        <h2>Latest news & articles</h2>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="blog-item">
            <div class="blog-img">
              <img src="static\img\blog-1.jpg" alt="Image">
              <div class="meta-date">
                <span>25</span>
                <strong>May</strong>
                <span>2022</span>
              </div>
            </div>
            <div class="blog-text">
              <h3><a href="#">1955 Mercedes-Benz SLR: The $143 Million Coupe</a></h3>
              <p>
                Cars are a matter of pride for many. That’s why enthusiasts do everything in their power to make their rides memorable. From expensive models to hefty modifications, each addition to the collection is like a status symbol. Probably
                this is the reason why a vintage Mercedes Benz coupe was sold for as much as 1,100 crores! Don’t believe us? Read on.
                <br>
                <a href="https://gomechanic.in/blog/1955-mercedes-benz-slr-the-143-million-coupe/">click here!</a>
              </p>
            </div>
            <div class="blog-meta">
              <p><i class="fa fa-user"></i><a href="https://gomechanic.in/blog/authors/sankul-nagpal/">SANKUL NAGPAL</a></p>
              <p><i class="fa fa-comments"></i><a href="">41 Reads</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="blog-item">
            <div class="blog-img">
              <img src="static\img\blog-2.jpg" alt="Image">
              <div class="meta-date">
                <span>27</span>
                <strong>May</strong>
                <span>2022</span>
              </div>
            </div>
            <div class="blog-text">
              <h3><a href="#">Car Color With The Best And The Worst Resale Value In India</a></h3>
              <p>
                Depending on the colour of the vehicle, the resale value of the vehicle may vary in the long run. With the heart, you’ll be choosing the colour that is your favourite or a head that will be a little easy on your wallet in the long
                run. So, let’s have a look at the car colours that have the best and the worst resale value in India.
                <br>
                <a href="https://gomechanic.in/blog/car-color-with-the-best-worst-resale-value/">click here!</a>
              </p>
            </div>
            <div class="blog-meta">
              <p><i class="fa fa-user"></i><a href="https://gomechanic.in/blog/authors/utkarshbhardwaj/">UTKARSH BHARDWAJ</a></p>
              <p><i class="fa fa-comments"></i><a href="">66 Reads</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="blog-item">
            <div class="blog-img">
              <img src="static\img\blog-3.jpg" alt="Image">
              <div class="meta-date">
                <span>05</span>
                <strong>Jan</strong>
                <span>2022</span>
              </div>
            </div>
            <div class="blog-text">
              <h3><a href="#">Tata Avinya Electric Car | Everything You Need To Know</a></h3>
              <p>
                When it comes to the future of transportation, two and four wheelers to be precise, battery electric vehicles do seem promising. Now, in order to cash the upcoming opportunity, carmakers are putting their kith and kin into researching
                and developing electric cars. Similarly, the Indian carmaker Tata, who already has an upper hand in the Indian electric vehicle market, has set foot with a new concept of an electric car, the Tata Avinya.
                <br>
                <a href="https://gomechanic.in/blog/tata-avinya-electric-car/">click here!</a>
              </p>
            </div>
            <div class="blog-meta">
              <p><i class="fa fa-user"></i><a href="https://gomechanic.in/blog/authors/utkarshbhardwaj/">Utkasrsh</a></p>
              <p><i class="fa fa-comments"></i><a href="">134 Reads</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Blog End -->


  <!-- Footer Start -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-contact">
            <h2>Get In Touch</h2>
            <p><i class="fa fa-map-marker-alt"></i>123 Street, Bihar, India</p>
            <p><i class="fa fa-phone-alt"></i>+919984096257</p>
            <p><i class="fa fa-envelope"></i>abc@example.com</p>
            <div class="footer-social">
              <a class="btn" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
              <a class="btn" href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
              <a class="btn" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
              <a class="btn" href="www.linkedin.com/in/prachi-967442201"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-newsletter">
            <h2>Newsletter</h2>
            <form>
              <input class="form-control" placeholder="Full Name">
              <input class="form-control" placeholder="Email">
              <a href="mailto:someone@example.com" class="btn btn-custom">Submit</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End -->

  <!-- Back to top button -->
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Pre Loader -->
  <div id="loader" class="show">
    <div class="loader"></div>
  </div>

  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="static\lib\easing\easing.min.js"></script>
  <script src="static\lib\owlcarousel\owl.carousel.min.js"></script>
  <script src="static\lib\waypoints\waypoints.min.js"></script>
  <script src="static\lib\counterup\counterup.min.js"></script>

  <!-- Contact Javascript File -->
  <!-- <script src="mail/jqBootstrapValidation.min.js"></script>
        <script src="mail/contact.js"></script> -->

  <!-- Template Javascript -->
  <script src="static\js\main.js"></script>
</body>

</html>
